.custom-header {
  background: rgb(var(--v-theme-surface));
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
  .logo {
    width: 32px;
    height: 32px;
    background: #ccc;
    border-radius: 50%;
    margin-inline-end: 40px!important;
    margin-inline-start: 16px!important;
  }

  .nav {
    .button {
      --v-btn-size: 0.875rem;
      --v-btn-height: 36px;
      font-size: 0.875rem;
      min-width: 64px;
      padding: 0 16px;
    }
  }
}
